

<main>
    <body>
        <!-- <h1 class="title-text">Grookey Gang</h1> -->
        <div>
            <img class="landing-img" src='assets/grookeyHome.jpg'>
            <br>
            <small>Image credit to twitter user <a href="https://twitter.com/Novuh/status/1194369115512856576" target="_blank"> @Novuh </a></small>
        </div>
        <hr class="hr-style">
        <p>Welcome to the Grookey Gang! Create your own online Pokédex here to share with friends.</p>
        <div>
            <a mat-raised-button routerLink="/directory/07MRI4WgRAPVaQZLgah0MQbvIKk2"> Pokédex Example </a>
        </div> 
    </body>
</main>

