:host {
    text-align: center;
}

.landing-img {
    margin-top: 2vh;
    width: 60vw;
}

.title-text {
    // color: #75aa50;
}

.hr-style {
    border-style: inset;
    border-width: 0.05em;
    width: 75%;
  }